<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bebek.takip" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.bebek.takip.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bebek.takip.secimyapilan" />
        <activity android:name="com.bebek.takip.bebekodasi" />
        <activity android:name="com.bebek.takip.bebekhakkindaaciklama" />
        <activity android:name="com.bebek.takip.kamera" />
        <activity android:name="com.bebek.takip.ses.NoiseAlert" />

        <activity
            android:label="@string/app_name"
            android:name=".hareket.monitor.MotionMonitorActivity"
            android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="com.bebek.takip.hareket.monitor.MONITOR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".hareket.monitor.SmartSurveillanceActivity"
            android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="com.bebek.takip.hareket.monitor.SMARTSURVEILLANCEACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>